* {
  margin: 0;
  padding: 0;
}

div {
  border: 1px solid black;
}

#wrap {
  width: 1600px;
  margin: 0 auto;
}

#wrap #btn_wrap {
  width: 1600px;
  height: 450px;
  margin: 0px auto;
}

#btn_wrap {
  background-color: #fff;
}

#btn_wrap #timer_box {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 20px auto;
  align-items: center;
}

#timer_box #click_space {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 300px;
  display: none;
}

#timer_box .start {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

#btn_wrap #text_box {
  width: 600px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 1.4rem;
  margin: 0px auto;
}
