* {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

p {
  float: left;
  margin-left: 50px;
  font-size: 1.7rem;
  font-weight: bold;
}

p > span {
  font-size: 1.7rem;
  font-weight: bold;
}

div {
  display: inline-block;
}
#timer {
  width: 100%;
  height: 100px;
  text-align: center;
}

#screen {
  display: block;
  background: url("../images/universe.jpg") no-repeat;
  background-size: cover;
  width: 1600px;
  height: 800px;
  border: 1px solid black;
  position: relative;
  margin: 0 auto;
}

#screen #note {
  position: absolute;
  display: none;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  top: 0;
  left: 0;
}

#screen #start {
  position: relative;
  width: 200px;
  height: 100px;
  border-radius: 15px;
  top: 350px;
  left: 45%;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.788);
  background-color: white;
}

#screen .sun {
  background-color: red;
}

#screen .moon {
  background-color: gray;
}

#screen .mercury {
  background-color: rgb(0, 110, 255);
}

#screen .venus {
  background-color: goldenrod;
}

#screen .earth {
  background-color: green;
}

#screen .mars {
  background-color: orangered;
}

#screen .jupiter {
  background-color: violet;
}

#screen .saturn {
  background-color: aquamarine;
}
